/*********************************/
/*
/* group-block__advertise
/*
/*********************************/
.is-style-group-block__advertise {
  display: block;
  position: relative;
  padding: 16px;
  background: repeating-linear-gradient( -45deg, $bg-ad, $bg-ad 3px, #fff 0, #fff 6px );
  border: 2px solid $ad-color;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .is-style-group-block__advertise {
    padding: 24px;
    border: 3px solid $ad-color;
    border-radius: 10px;
  }
}
